@media only screen and (min-width: 500px) {
    body {
        background-image: url('./fretboard.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
    }
}

@media only screen and (max-width: 1199px) {
    .login {
        display: none;
    }

   body {
       background-image: none;
   }

   html, body, #root, #root>div {
    height: 100%;
    background-color: black;
  }

}

body {
    background-color: black;
}

.carousel-inner {
    border: 5px;
    border-color: #fff;
    border-style: solid;
}

.space {
    padding-left: .3em;
}

.nav-link {
    color: #fff;
    
}

.nav-link:hover {
    color: #8c8e91;
}

